name: Node CI

on: [push]

jobs:
  build-and-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: npm install
        run: npm install

      - name: npm build
        run: npm run build --if-present

      - name: Run Linter and Tests
        run: npm run test:all
      - name: Login to Docker Hub
        if: success()
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        if: success()
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.prod
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/agua-api-node:latest, ${{ secrets.DOCKER_USERNAME }}/agua-api-node:${{ github.sha }}